@model IEnumerable<StockPortfolioTracker.ViewModels.WalletViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@* <ul>
    @for (int i = 0; i < (int)ViewData["NumTimes"]!; i++)
    {
            <li>@ViewData["Message"]</li>
    }
</ul>
 *@

 <p>
    @Html.ActionLink("Create New", "Create")
</p> 

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.WalletId">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.WalletId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.WalletId">Delete</a>
                </td>
            </tr>
    }
</table>